* {
    font-size: 16px;
}

window#waybar {
    background-color: transparent;
    margin-top: 16px;
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: #ffffff;
    font-family: Noto, sans-serif;
}

window#waybar .horizontal {
    padding: 4px 0;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

.modules-right {
    background-color: rgba(4, 21, 31, 0.9);
    border-radius: 16px;
}

.modules-right > widget:first-child > box,
.modules-right > widget:first-child > label {
    margin-left: 16px;
}

.modules-right > widget:last-child > box,
.modules-right > widget:last-child > label {
    margin-right: 16px;
}

#clock,
#network,
#wireplumber,
#custom-media,
#mpd,
#custom-tree {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

#clock {
    font-weight: 700;
}

label:focus {
    background-color: #000000;
}


#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#keyboard-state > label {
    padding: 4px;
    border-radius: 50%;
}

#keyboard-state > label.locked {
    color: rgba(207, 27, 42, 1);
}

